[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
"flake8" = "*"
pytest-cov = "*"
pytest-freezegun = "*"
ptpython = "*"
airtable-python-wrapper = "*"

[packages]
pynamodb = "*"
boto3 = "*"
pillow = "*"
pydantic = {extras = ["ujson"],version = "*"}
ujson = "*"

[requires]
python_version = "3.7"
